{{ define "main" }}

<header>
	<p class="sitename"><a href="https://t-asa2000.net/">t-asa2000.net</a></p>
	<input type="checkbox" id="sitemenu-openclose" />
	<label for="sitemenu-openclose" class="sitemenu-button open" >≡</label>
	<label for="sitemenu-openclose" class="sitemenu-button close" >×</label>
	<div class="sitemenu-background"></div>
	<ul class="sitemenu">
		<li><a href="https://t-asa2000.net/">Profile</a></li>
		<li><a href={{ .Site.Home.Permalink }}>Blog</a></li>
	</ul>
</header>

<div class="title-box">
	<h1>{{ .Title }}</h1>
	<div class="detail">
		<label class="meta">{{ .Date.Format "2006/01/02" }}</label>
	</div>
</div>

<div class="content">
	<div class="main">
		<article>
			{{ .Content }}
		</article>
		<div style="display: flex;margin:3em 0;flex-wrap:wrap; justify-content:center;">
		<div style="display: inline-block; background: #000080; padding: 4px; margin: 4px 6px; border-radius: 5px; text-align: center; width: 160px; line-height: 1.5; font-family: Avenir,Helvetica,Arial,sans-serif;"><a href="https://anypost.dev/share"  onclick="window.open(this.href+'?s='+location.href+'&t='+encodeURIComponent(document.title + ' #asatasblog{{ .File.TranslationBaseName	}}'), '', 'width=500,height=750'); return false;" style="color: white; text-decoration-line: none;"><img src="https://anypost.dev/external-assets/share.svg" width="14" alt="share">Share<div style="font-size: 0.5em;">via anypost.dev</div></a></div>
		<button style="--btn-color:var(--theme-color)"><a href={{ .Site.Home.Permalink }}>記事一覧に戻る</a></button>
		</div>
		<div id="disqus_thread"></div>
		<script>
			/**
			*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
			*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
			/*
			var disqus_config = function () {
			this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
			this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
			};
			*/
			(function() { // DON'T EDIT BELOW THIS LINE
			var d = document, s = d.createElement('script');
			s.src = 'https://https-t-asa2000-github-io.disqus.com/embed.js';
			s.setAttribute('data-timestamp', +new Date());
			(d.head || d.body).appendChild(s);
			})();
		</script>
		<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
	</div>
</div>

{{ end }}