{{ define "main" }}

<header>
	<p class="sitename"><a href="https://t-asa2000.net/">t-asa2000.net</a></p>
	<input type="checkbox" id="sitemenu-openclose" />
	<label for="sitemenu-openclose" class="sitemenu-button open" >≡</label>
	<label for="sitemenu-openclose" class="sitemenu-button close" >×</label>
	<div class="sitemenu-background"></div>
	<ul class="sitemenu">
		<li><a href="https://t-asa2000.net/">Profile</a></li>
		<li class="current"><a href={{ .Site.Home.Permalink }}>Blog</a></li>
	</ul>
</header>
<div class="content">
	<div class="main">
		<article>
			<p><a href="https://t-asa2000.net/">記事一覧はサイトトップに移転しました</a></p>
			<!--ul class="article-list">
				{{ range .Site.RegularPages.ByDate.Reverse }}
				<li>
					<label>{{ .Date.Format "2006/01/02" }}</label>
					<h1><a href={{ .Permalink }}>{{ .Name }}</a></h1>
				</li>
				{{ end }}
			</ul-->
		</article>
	</div>
</div>

{{ end }}